.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 10px 30px 10px;
}

.sectionTitle {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 900;
}

.desc {
  margin-top: 0;
  margin-bottom: 100px;

  font-size: 17px;
}

.allBlocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.blockContainer {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 10px;

  background-color: #e5e5e5;
}

.blockTitle {
  margin-top: 0;
  margin-bottom: 40px;

  font-size: 20px;
  font-weight: 900;
}

.carfaxImg {
  position: absolute;
  top: -70px;
  right: 20px;
  width: 200px;
}

.blockDesc {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 17px;
}

.details {
  display: flex;
  align-items: center;
  margin-left: 150px;

  text-transform: uppercase;
  color: #797de0;
  font-size: 14px;
}

.details svg {
  transform: scale(0.7);
}

.goBackBtn {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 20px;

  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 50px;
  background-color: transparent;
  font-size: 17px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}

.goBackBtn svg {
  margin-right: 40px;
}

.goForwarrdBtn {
  display: flex;
  align-items: center;
  padding: 10px 15px;

  background-color: #414bdd;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.goForwarrdBtn svg {
  margin-left: 40px;
}

@media screen and (min-width: 1069px) {
  .container {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
  }

  .allBlocks {
    margin-bottom: 20px;
  }

  .blockContainer {
    width: 360px;
    margin-bottom: 0;
  }

  .goBackBtn {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1441px) {
  .container {
    max-width: 1600px;
  }

  .sectionTitle {
    margin-bottom: 40px;

    font-size: 40px;
  }

  .allBlocks {
    margin-bottom: 40px;
  }

  .desc {
    font-size: 20px;
  }

  .blockContainer {
    width: 700px;
    padding: 50px 40px;
  }

  .blockTitle {
    font-size: 40px;
  }

  .carfaxImg {
    width: 240px;
    right: 40px;
  }

  .blockDesc {
    font-size: 20px;
  }

  .details {
    margin-left: 420px;

    font-size: 17px;
  }

  .goBackBtn {
    padding: 20px 40px;
  }

  .goForwarrdBtn {
    padding: 20px 30px;
  }
}
